.line {
    height: 6px;
    background-color: #000;
    width: 150px;
    margin: 8px auto;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color: aqua
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
    border-radius: 10px;
}

.left carousel-control {
    color:aliceblue;
}

.right carousel-control {
    color:aliceblue;
}